# Ignore everything
# Ignore everything
*

# Do not ignore specific files and folders
!.gitignore
!public/

# Ignore everything in storage except the Extracted Texts folder
storage/*
!storage/app/
!storage/app/Extracted Texts/
!storage/app/Extracted Texts/**
